<div id="container">

	<div id="index-body">
		<%Question.includes(:user, :answers, :question_votes).all.each do |question|%>
		<%time_diff_components_question = Time.diff(question.created_at, Time.now.utc, '%y, %M, %w, %d %H %N %S')%>
		<div id="feed">
			<a href="http://lydia-quora-clone.herokuapp.com/user/<%=question.user.full_name.gsub(" ", "-")%>"><div id="asked_by"><%=question.user.full_name%></div></a>
			<a href="http://lydia-quora-clone.herokuapp.com/question/<%=question.title.gsub(" ", "-")%>"><div id="title"><%=question.title + "?"%></div></a>
			<div id="asked-time">Question posted <%=time_diff_components_question[:diff]%> ago</div>
			<div id="index-answer-number"">
				<%if question.answers.count == 1%>
					<a href="http://lydia-quora-clone.herokuapp.com/question/<%=question.title.gsub(" ", "-")%>"><%="1 Answer"%></a>
				<%elsif question.answers.count > 1%>
					<a href="http://lydia-quora-clone.herokuapp.com/question/<%=question.title.gsub(" ", "-")%>"><%=question.answers.count.to_s + " Answers"%></a>
				<%elsif current_user.id != question.user.id%>
					<button type="button btn" class="answerButton" data-toggle="modal" data-target="#<%=question.id%>">Answer</button>
				<%end%>
					<form method="post" action="/questions/<%=question.id%>/vote" class="vote">
						<%if question.question_votes.where(user_id: current_user.id).exists? && question.question_votes.find_by(user_id: current_user.id).upvote == true%>
							<button type="submit" class="downvote_button">
								<span class="question_vote_count"><%=question.question_votes.where(upvote: true).count%></span>
								<span class="vote_text"> | Upvoted</span>
							</button>
						<%else%>
			 			<button type="submit" class="upvote_button">
							<span class="question_vote_count"><%=question.question_votes.where(upvote: true).count%></span>
							<span class="vote_text"> | Upvote</span>
						</button>	
						<%end%>
					</form> 
					<!-- MODAL -->
					<div id="<%=question.id%>" class="modal fade" role="dialog">
					  <div class="modal-dialog">	

					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title"><%=question.title + "?"%></h4>
					      </div>
					      <div class="modal-body">
					        <form method=post action="/answer/new">
										<input id="answer-input" type="text" name="answer" placeholder="Write your answer" style="height: 200px; width: 100%">
										<input type="hidden" name="question_id" value=<%=question.id%>>
										<button type="submit">Submit</button>
									</form>	
					      </div>
					      <!-- MODAL FOOTER ('Close' button to dismiss modal) -->
						     <!-- <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div> -->
					    </div>
					  
					  </div>
					</div>
			</div>
		</div>
		<%end%>
	</div>
</div>
