<div id="container">	
<%if !logged_in? %>
	<nav class="navbar navbar-fixed-top" id="quora-header">
		<div class="container-fluid">
		<div class="inner-header">
		    <div class="navbar-header">
		     <a href="http://lydia-quora-clone.herokuapp.com/"><div id="header-quora-logo"></div></a>
		    </div>
		    <div id="question">
			    <form method=post action="/question/new">
						<input id="question-input" type=text name="question" placeholder="Ask or Search Quora">
						<button id="ask_button" type="submit">Ask Question</button>
					</form>	
				</div>
				<div id="user-profile">
			  	<ul class="nav navbar-nav">
			    <li class="dropdown" style="position: absolute; top:0; right:300px;">
		        Login
			  	</li>
			  	</ul>
		  </div>
		</div>
	</nav>
<%end%>

	<div id="profile-body">
		<h1 id="name"><%=@user.full_name%></h1>
		<div id="answers-questions-select">
			<div id="questions-select" class="select-button">
				<span class="title-select">Questions</span>
				<span class="count-select"><%= @user.questions.all.count %></span>
			</div>
			<div id="answers-select" class="select-button">
				<span class="title-select">Answers</span>
				<span class="count-select"><%= @user.answers.all.count %></span>
			</div>
		</div>

		<div id="question-profile-feed" class="profile-feed">
			<div id="profile-prompt">
				<% if @user.questions.all.count == 0 && current_user != @user %>
					<%="This user has not asked any questions yet."%>
				<% elsif @user.questions.all.count == 0 && current_user == @user %>	
					<%="You have not asked any questions yet. :("%>
					<br>
					<br> 
					<%="Remember, there is no such thing as a dumb question!"%> 
			</div>
				<% else %>
					<%@user.questions.each do |question|%>
						<div class="user-profile-response">
							<%time_diff_components_question = Time.diff(question.created_at, Time.now.utc, '%y, %M, %w, %d %H %N %S')%>	
							<a href="http://lydia-quora-clone.herokuapp.com/question/<%=question.title.gsub(" ", "-")%>"><div id="title" style="margin-bottom: 5px"><%=question.title + "?"%></div></a>
							<div id="profile-time">Question posted <%=time_diff_components_question[:diff]%> ago</div>
						</div>
					<%end%>	
				<% end %>
		</div>

		<div id="answer-profile-feed" class="profile-feed">.
			<div id="profile-prompt">
				<%if @user.answers.all.count == 0 && current_user != @user %>
					<%="This user has not answered any questions yet."%>
				<%elsif @user.answers.all.count == 0 && current_user == @user %>
					<%="You have not answered any questions yet. Go share your knowledge!"%>
			</div>
				<%else%>
					<%@user.answers.each do |answer|%>
						<div class="user-profile-response">
							<%time_diff_components_answer = Time.diff(answer.created_at, Time.now.utc, '%y, %M, %w, %d %H %N %S')%>	
							<a href="http://lydia-quora-clone.herokuapp.com/question/<%=answer.question.title.gsub(" ", "-")%>"><div id="title" style="margin-bottom: 5px"><%=answer.question.title + "?"%></div></a>
							<div id="user-answer"><%=answer.answer%></div>
							<div id="profile-time">Answer written <%=time_diff_components_answer[:diff]%> ago</div>
						</div>
					<%end%>
				<%end%>
		</div>
	</div>

</div>