<div id="container">

<%time_diff_components_question = Time.diff(@question.created_at, Time.now.utc, '%y, %M, %w, %d %H %N %S')%>

<div id="Content" style="">
	<div id="questionHead">
		<a href="http://localhost:9393/user/<%=@question.user.full_name.gsub(" ", "-")%>"><div id="asked_by"><%=@question.user.full_name%></div></a>
		<div id="title"><%=@question.title + "?"%></div>

		<!-- Opens answer modal -->
		<%if @question.answers.count > 0%>

		<button type="button btn" class="answerButton" data-toggle="modal" data-target="#<%=@question.id%>">Answer</button>
		<%end%>
		<form method="post" action="/questions/<%= @question.id%>/vote" class="vote">
			<%if @question.question_votes.where(user_id: current_user.id).exists? && @question.question_votes.find_by(user_id: current_user.id).upvote == true%>
				<button type="submit" id="downvote" class="downvote_button">
					<span class="question_vote_count"><%=@question.question_votes.where(upvote: true).count%></span>
					<span class="vote_text"> | Upvoted</span>
				</button>
			<%else%>
 			<button type="submit" id="upvote" class="upvote_button">
				<span class="question_vote_count"><%=@question.question_votes.where(upvote: true).count%></span>
				<span class="vote_text"> | Upvote</span>
			</button>	
			<%end%>
		</form> 
		<!-- Opens Delete Confirmation Modal -->
		<%if current_user.id == @question.user.id%>
		<icon id="delete" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#deleteConfirmation"></icon>
		<%end%>
		<!-- Delete Confirmation Modal -->
		<div id="deleteConfirmation" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <p style="text-align: center; font-size: 15px">Are you sure you want to delete this question?</p>
		      <div class="modal-footer">
		        <form method="post" action="/questions/<%=@question.id%>">
		        	<input name="_method" type="hidden" value="delete">
		        	<button class="btn btn-danger" id="deleteConfirmationButton" type="submit">Delete Question</button>
		        </form>
		      </div>
		    </div>

		  </div>
		</div>
		</div>
		<br>
		<div id="answerNumber">
			<%if @question.answers.count == 1%>
					<%="1 Answer"%>
			<%elsif @question.answers.count > 1%>
				<%=@question.answers.count.to_s + " Answers"%> 
			<%end%>
		</div>
		<div id="asked-time">Question posted <%=time_diff_components_question[:diff]%> ago</div>
	</div>
		<!-- MODAL! -->
		<div id="<%=@question.id%>" class="modal fade" role="dialog">
		  <div class="modal-dialog">	

		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title"><%=@question.title + "?"%></h4>
		      </div>
		      <div class="modal-body">
		        <form method=post action="/answer/new">
							<input id="answer-input" type="text" name="answer" placeholder="Write your answer" style="height: 200px; width: 100%">
							<input type="hidden" name="question_id" value=<%=@question.id%>>
							<button type="submit">Submit</button>
						</form>	
		      </div>
		      <!-- MODAL FOOTER ('Close' button to dismiss modal) -->
			     <!-- <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div> -->
		    </div>
		  
		  </div>
		</div>

	<div id="questionBody">
			<%if @question.answers.size == 0%>
				<div id="promptIcon"></div>
				<%if current_user.id == @question.user.id%>
					<div id="promptQuestion">Nobody has answered your question yet. :(</div>
				<%else%>	
					<div id="promptQuestion">Can you answer this question?</div>
					<div id="promptAnswerButton"><button type="button btn" class="promptAnswerButton" data-toggle="modal" data-target="#<%=@question.id%>">Answer</button>
				</div>
				<%end%>
			<%end%>

			<% @question.answers.each do |answer| %>
				<%time_diff_components_answer = Time.diff(answer.created_at, Time.now.utc, '%y, %M, %w, %d %H %N %S')%>
				<% user_name = User.find_by(id: answer.user_id).full_name %>
				<div class="answer">
					<a href="http://localhost:9393/user/<%=user_name.gsub(" ", "-")%>"><%=user_name%></a>
					<br>
					<div id="question-answer"><%=answer.answer%></div><br>
					<form method="post" action="/answers/<%=answer.id%>/vote" class="vote">
						<%if answer.answer_votes.where(user_id: current_user.id).exists? && answer.answer_votes.find_by(user_id: current_user.id).upvote == true%>
							<button type="submit" id="downvote" class="downvote_button">
								<span class="question_vote_count"><%=answer.answer_votes.where(upvote: true).count%></span>
								<span class="vote_text"> | Upvoted</span>
							</button>
						<%else%>
				 			<button type="submit" id="upvote" class="upvote_button">
								<span class="question_vote_count"><%=answer.answer_votes.where(upvote: true).count%></span>
								<span class="vote_text"> | Upvote</span>
							</button>	
						<%end%>
					</form> 
				<a href="http://localhost:9393/<%=@question.title.gsub(" ", "-")%>/answer/<%=user_name.gsub(" ", "-")%>"><div id="answer-asked-time"">Answer posted <%=time_diff_components_question[:diff]%> ago</div></a>
				</div>
				<%end%>
		</div>
</div>

</div>