<div id="container">
	<div id="Content">
		<%time_diff_components_answer = Time.diff(@answer.created_at, Time.now.utc, '%y, %M, %w, %d %H %N %S')%>

		<a href="http://lydia-quora-clone.herokuapp.com/question/<%=@question.title.gsub(" ", "-")%>" id="title"><h1><%=@question.title + "?"%></h1></a>
		<div style="float: left;">Answer by <%= @user.full_name %></div>
		<div id="answer-asked-time">Answer posted <%=time_diff_components_answer[:diff]%> ago</div>
		<br>
		<div class="clear" style="margin-top: 20px; padding-top: 20px; border-top: 1px solid #e2e2e2;"><%=@answer.answer%></div>
	</div>

</div>