<html>
	<head>
	<!-- CSS STUFF -->
		<link rel="stylesheet" href="/css/application.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/view_answer.css">
		<link rel="stylesheet" href="/css/view_question.css">
		<link rel="stylesheet" href="/css/profile.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

	<!-- JQUERY STUFF -->
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<script src="/js/application.js"></script>
  	<script src="/js/upvotes.js"></script>
  	<script src="/js/profile.js"></script>	

		<title>Quora Clone</title>
	</head>
	<body class="container">
	<%if logged_in?%>
		<nav class="navbar navbar-fixed-top" id="quora-header">
		<div class="container-fluid">
		<div class="inner-header">
		    <div class="navbar-header">
		     <a href="http://lydia-quora-clone.herokuapp.com/"><div id="header-quora-logo"></div></a>
		    </div>
		    <div id="question">
			    <form method=post action="/question/new">
						<input id="question-input" type=text name="question" placeholder="Ask or Search Quora">
						<button id="ask_button" type="submit">Ask Question</button>
					</form>	
				</div>
				<div id="user-profile">
			  	<ul class="nav navbar-nav">
			    <li class="dropdown" style="position: absolute; top:0; right:300px;">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:black;">Welcome, <%=current_user.full_name%>
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu" id="dropdown-menu" style="width: 100%">
				    	<li style="margin-right: 0">
				      	<%full_name = current_user.full_name.gsub(" ", "-")%>
				      	<form method=get action="/user/<%=full_name%>" style="margin-bottom: 0">
									<button class="btn" type="submit" value="Profile" id="user-buttons">View Profile</button>
								</form>
				      </li>
				      <li role="separator" class="divider" id="divider"></li>
				      <li style="margin-right: 0">
				      <form method=post action=/logout  style="margin-bottom: 0">
								<button class="btn" type="submit" value="Logout" id="user-buttons">Logout</button>
							</form>
				    	</li>
			    	</ul>
			  	</li>
			  	</ul>
		 		</div>
		</div>
		</nav>
	<%end%>

	<% if flash[:error]%>
		<div class="errors alert alert-warning fade in" style="margin-top:56px; margin-left: 250px;">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" style="">&times;</a>
			<%=flash[:error] if flash[:error]%>
		</div>
	<%end%>

	<% if flash[:alert]%>
		<div class="errors alert alert-info fade in" style="margin-top:56px; margin-left: 250px;">
			<a href="#" class="close" data-dismiss="alert" aria-label="close" style="">&times;</a>
			<%=flash[:alert] if flash[:alert]%>
		</div>
	<%end%>
		<%= yield %>
	</body>
</html>